{% extends "base_template.html" %}
{% block main %}
<div id="content-head-2line">
    Это админ панель! Пока нет авторизации на сайте она никак не защищена! Не допускайте попадания ссылки на панель сторонних лиц!
</div>
<div class="now_plays">
    <div>
        <label>Сейчас в эфире:</label><br/>
        <form>
            <input class="name" type="text" placeholder="Передача" pattern="^[А-яA-z0-9\-_ !,.:+=?)(]*$" required/>
            <input class="name" type="text" placeholder="Время" pattern="^[А-яA-z0-9\-_ !,.:+=?)(]*$" required/>
            <input class="send" type="submit"/>
        </form>
    </div>
</div>
<hr/>
<div class="big_admin_block">
    <div class="chat_admin">
        <div id="cr-body">
            {% if chat_messages %}
                {% for msg in chat_messages %}
                    <div class="message">
                        <div class="author" id="{{msg.id}}">{{msg.author}}</div>
                            <div class="time">
                                {{msg.timestamp.strftime("%d.%m.%Y, %H:%M:%S")}}
                                <button class="main-button btn-red btn-delete">Удалить</button>
                            </div>
                                {{msg.text}}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="schedule_admin">
        <div id="time-table" class="time-table-admin">

            {% if schedule %}

            <div id="tt-header">
                <h2>эфир
                    <span class="special_date">
                        <select>
                            {% for broadcast in broadcasts %}
                                <option>{{ broadcast }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </h2>
            </div>
            <div id="tt-body">

                {% for program in schedule %}

                <div class="schedule">
                    <div class="time">
                        {{ program.time }}
                    </div>
                    <div class="details">
                        <div class="program">
                            {{ program.name }}
                        </div>
                        <div class="guests">
                            {{ program.guest }}
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
            {% else %}

            <h3>Расписание не загружено!</h3>

            {% endif %}
            <form>
                <input type="text" name="time" placeholder="Время" pattern="^[А-яA-z0-9\-_ !,.:+=?)(]*$" required/>
                <input type="text" name="name" placeholder="Название" pattern="^[А-яA-z0-9\-_ !,.:+=?)(]*$" required/>
                <input type="text" name="hosts" placeholder="Ведущие" pattern="^[А-яA-z0-9\-_ !,.:+=?)(]*$" required/>
                <input class="send" type="submit" />
            </form>
        </div>
    </div>
</div>

{% endblock %}