<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="{{url_for('static', filename='img/favicon.png')}}" type="image/ico"/>
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.png')}}" type="image/x-icon"/>
    <title>Радио "Морс" - Слушай маму и Морс!</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"/>
    <script src="{{url_for('static', filename='js/lib/jquery-3.4.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="{{url_for('static', filename='js/radio.js')}}"></script>
</head>
<body>
    <div id="main-wrapper">
        <div id="content-head-1line">
             <div id="head-left">
                <div id="logo-block">
                    <a href="/">
                        <img src="{{ url_for('static', filename='img/logo_m.png') }}" alt=""/>
                    </a>
                </div>
                <div id="social-block">
                    <div id="social-label">в соцсетях:</div>
                    <div class="social-icon" id="vk-link">
                        <a href="https://vk.com/yamors" target="_blank">
                            <img src="{{ url_for('static', filename='img/vk.png') }}" alt=""/>
                        </a>
                    </div>
                    <div class="social-icon" id="tw-link">
                        <a href="https://www.instagram.com/ya_mors/" target="_blank">
                            <img src="{{ url_for('static', filename='img/instagram.png' )}}" alt=""/>
                        </a>
                    </div>
                </div>
            </div>
            <div id="menu">
                <ul>
                    {% for item in menu_items %}
                    <li><a href="{{ item[1] }}">{{ item[0] }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% block main %}
        {% endblock %}
        <div class="spacer"></div>
        <div id="content-footer">
            <div id="copyright">Все права защищены. Молодежная радиостанция "Морс" &copy; 2013-2020 гг. ver.{{ version }}</div>
        </div>
    </div>
</body>
</html>