<div id="content-head">
     <div id="content-head-1line">
         <div id="head-left">
            <div id="logo-block">
                <a href="/">
                    <img src="{{ url_for('static', filename='img/logo_m.png') }}" alt=""/>
                </a>
            </div>
            <div id="social-block">
                <div id="social-label">в соцсетях:</div>
                <div class="social-icon" id="vk-link">
                    <a href="/" target="_parent">
                        <img src="{{ url_for('static', filename='img/vk.png') }}" alt=""/>
                    </a>
                </div>
                <div class="social-icon" id="tw-link">
                    <a href="#">
                        <img src="{{ url_for('static', filename='img/twitter.png' )}}" alt=""/>
                    </a>
                </div>
            </div>
        </div>
        <div id="menu">
            <ul>
                {% for item in menu_items %}
                <li><a href="{{ item[1] }}">{{ item[0] }}</a></li>
                {% endfor %}
            </ul>
        </div>
     </div>
     <div id="content-head-2line">
         <div id="player-label">
             У нас в эфире:
         </div>
         <audio id="radio">
             Your browser does not support the <code>audio</code> element.
             <source src="http://s0.radioheart.ru:8000/RH20499" type="audio/wav">
         </audio>
         <div id="player-on-air">
             {{ current_program.name }}
        </div>
        <div id="player-timing">
            {{ current_program.time }}
        </div>
        <div id="player-controls">
            <button class="main-button play">слушать эфир</button>
        </div>
     </div>
 </div>