<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Радио "Морс" - Слушай маму и Морс!</title>
        <link rel="stylesheet" href="css/main.css"/>
        <script src="js/jquery-3.4.1.min.js"></script>
    </head>
    <body>
        <div id="main-wrapper">
             <div id="content-head">
                 <div id="content-head-1line">
                     <div id="head-left">
                        <div id="logo-block">
                            <a href="/">
                                <img src="img/logo_m.png" alt=""/>
                            </a>
                        </div>
                        <div id="social-block">
                            <div id="social-label">в соцсетях:</div>
                            <div class="social-icon" id="vk-link">
                                <a href="https://vk.com/yamors" target="_blank">
                                    <img src="img/vk.png" alt=""/>
                                </a>
                            </div>
                            <div class="social-icon" id="tw-link">
                                <a href="#">
                                    <img src="img/twitter.png" alt=""/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="menu">
                        <ul>
                            <li><a href='team/'>команда</a></li>
                            <li><a href="gallery/">фотогалерея</a></li>
                            <li><a href="archive/">архив новостей</a></li>
                            <li><a href="programs/">архив записей</a></li>
                        </ul>
                    </div>
                 </div>
                 <div id="content-head-2line">
                     <div id="player-label">
                         У нас в эфире:
                     </div>
                     <div id="player-on-air">
                         Крутая передача
                    </div>
                    <div id="player-timing">
                        12:00 - 13:00
                    </div>
                    <div id="player-controls">
                        <button class="main-button">слушать эфир</button>
                        <button class="main-button">к архиву записей</button>
                    </div>
                 </div>
             </div>
             <div id="content-body">
                 <div id="content-body-1line">
                    <div id="time-table">
                        <div id="tt-header">
                            <h2>расписание эфира</h2>
                        </div>
                        <div id="tt-body">
                            <div class="schedule">
                                <div class="time">
                                    12:00 - 13:00
                                </div>
                                <div class="details">
                                    <div class="program">
                                        Крутая программа c дофига длинным названием
                                    </div>
                                    <div class="guests">
                                        Крутые гости
                                    </div>
                                </div>
                            </div>
                            <div class="schedule">
                                <div class="time">
                                    12:00 - 13:00
                                </div>
                                <div class="details">
                                    <div class="program">
                                        Крутая программа
                                    </div>
                                    <div class="guests">
                                        Крутые гости
                                    </div>
                                </div>
                            </div>
                            <div class="schedule">
                                <div class="time">
                                    12:00 - 13:00
                                </div>
                                <div class="details">
                                    <div class="program">
                                        Крутая программа
                                    </div>
                                    <div class="guests">
                                        Крутые гости
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="vk-chat">
                        <div id="cr-header">
                            <h2>чат</h2>
                        </div>
                        <div id="cr-body">
                            <div class="messages">
                                <div class="message">
                                    <div class="author">John Snow</div>
                                    <div class="time">03.05 14:44:34</div>
                                    Привет, морсианин!
                                </div>
                                <div class="message">
                                    <div class="author">John Snow</div>
                                    <div class="time">03.05 14:44:34</div>
                                    Привет, морсианин!
                                </div>
                            </div>
                            <div class="form">
                                <form>
                                    <input class="name" type="text" placeholder="Имя"/>
                                    <input class="msg" type="text" placeholder="Сообщение"/>
                                    <input class="send" type="submit"/>
                                </form>
                            </div>
                        </div>
                    </div>
                 </div>
                 <div id="news-header"><h2>новости</h2></div>
                 <div id="content-body-rest">
                    <div class="news-item">
                        <img src="img/news.jpeg" alt=""/>
                        <div class="news-title"><h3>Заголовок крутой новости</h3></div>
                        <div class="news-article">
                            dkfjwijfiewjfi jefijwjjksldjf nrnewnfklwvfakdj bijhrej  ntjnmnafsmvn
                            sdflkfl wkfwopkfopewjfw ipejwejgwijg woekfkv ofjeifjw ekflkdsl;k fer
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="img/news.jpeg" alt=""/>
                        <div class="news-title"><h3>Заголовок крутой новости</h3></div>
                        <div class="news-article">
                            dkfjwijfiewjfi jefijwjjksldjf nrnewnfklwvfakdj bijhrej  ntjnmnafsmvn
                            sdflkfl wkfwopkfopewjfw ipejwejgwijg woekfkv ofjeifjw ekflkdsl;k fer
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="img/news.jpeg" alt=""/>
                        <div class="news-title"><h3>Заголовок крутой новости</h3></div>
                        <div class="news-article">
                            dkfjwijfiewjfi jefijwjjksldjf nrnewnfklwvfakdj bijhrej  ntjnmnafsmvn
                            sdflkfl wkfwopkfopewjfw ipejwejgwijg woekfkv ofjeifjw ekflkdsl;k fer
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="img/news.jpeg" alt=""/>
                        <div class="news-title"><h3>Заголовок крутой новости</h3></div>
                        <div class="news-article">
                            dkfjwijfiewjfi jefijwjjksldjf nrnewnfklwvfakdj bijhrej  ntjnmnafsmvn
                            sdflkfl wkfwopkfopewjfw ipejwejgwijg woekfkv ofjeifjw ekflkdsl;k fer
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="img/news.jpeg" alt=""/>
                        <div class="news-title"><h3>Заголовок крутой новости</h3></div>
                        <div class="news-article">
                            dkfjwijfiewjfi jefijwjjksldjf nrnewnfklwvfakdj bijhrej  ntjnmnafsmvn
                            sdflkfl wkfwopkfopewjfw ipejwejgwijg woekfkv ofjeifjw ekflkdsl;k fer
                        </div>
                    </div>
                    <div class="news-item">
                        <img src="img/news.jpeg" alt=""/>
                        <div class="news-title"><h3>Заголовок крутой новости</h3></div>
                        <div class="news-article">
                            dkfjwijfiewjfi jefijwjjksldjf nrnewnfklwvfakdj bijhrej  ntjnmnafsmvn
                            sdflkfl wkfwopkfopewjfw ipejwejgwijg woekfkv ofjeifjw ekflkdsl;k fer
                        </div>
                    </div>
                 </div>
             </div>
             <div class="spacer"></div>
             <div id="content-footer">
                 <div id="copyright">Все права защищены. Молодежная радиостанция "Морс" &copy; 2019 г.</div>
             </div>
        </div>
    </body>
</html>