{% extends "base_template.html" %}
{% block main%}
    <div id="content-head">
         <div id="content-head-2line">
             <div id="player-label">
                 У нас в эфире:
             </div>
             <audio id="radio">
                 Your browser does not support the <code>audio</code> element.
                 <source src="http://s0.radioheart.ru:8000/RH20499" type="audio/wav">
             </audio>
             <div id="player-on-air">
                 {{ current_program.title }}
            </div>
            <div id="player-timing">
                {{ current_program.time }}
            </div>
            <div id="player-controls">
                <button class="main-button btn-red play">слушать эфир</button>
            </div>
         </div>
     </div>
    <div id="content-body">
         <div id="content-body-1line">
            <div id="time-table">

                <div id="tt-header">
                    <h2>эфир
                        <span class="special-date">
                            <select>
                                {% for broadcast in broadcasts %}
                                    <option>{{ broadcast.date.strftime('%d.%m.%Y') }}</option>
                                {% endfor %}
                            </select>
                        </span>
                    </h2>
                </div>

                {% if schedule %}

                <div id="tt-body">

                    {% for program in schedule %}

                    <div class="schedule">
                        <div class="time">
                            {{ program.time }}
                        </div>
                        <div class="details">
                            <div class="program">
                                {{ program.title }}
                            </div>
                            <div class="guests">
                                {{ program.hosts }}
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
                {% else %}

                <h3>Расписание отсутствует</h3>

                {% endif %}
            </div>
            <div id="vk-chat">
                <div id="cr-header">
                    <h2>чат</h2>
                </div>
                <div id="cr-body">
                    {% if chat_messages %}
                        {% for msg in chat_messages %}
                            <div class="message">
                                <div class="author">{{msg.author}}</div>
                                <div class="time">{{msg.timestamp.strftime("%d.%m.%Y, %H:%M:%S")}}</div>
                                {{msg.text}}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form" id="chat">
                    <form>
                        <input class="name" type="text" placeholder="Имя" pattern="^[А-яA-z0-9\-_ !,.:+=?)(]*$" required/>
                        <input class="msg" type="text" placeholder="Сообщение" pattern="^[А-яA-z0-9\-_ !,.:+=?)(]*$" required/>
                        <input class="send" type="submit"/>
                    </form>
                </div>
            </div>
         </div>
        <!--
         <div id="news-header"><h2>новости</h2></div>
         <div id="content-body-rest">
             {% if news %}
                 {% for item in news %}
                    <div class="news-item">
                        <img src="{{ url_for('static', filename='img/news/'+item.img) }}" alt=""/>
                        <div class="news-title"><h3>{{ item.title }}</h3></div>
                        <div class="news-article">
                            {{ item.shortcut }}
                        </div>
                    </div>
                 {% endfor %}
             {% else %}
             <h3>А нет новостей-то!</h3>
             {% endif %}
         </div>
         -->
     </div>
{% endblock %}